.planExpenses {
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        font-weight: 700;
    }
}

.expensesList {
    display: flex;
    flex-direction: column;
    gap: var(--s);
    margin-top: var(--s);

    .expenseItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--itemBg);
        padding: var(--m);
        border-radius: var(--m);

        &:hover {
            background-color: var(--itemHover);
        }
    }
}

.expenseInfo {
    display: flex;
    flex-direction: column;
    gap: var(--xs);

    .expenseTitle {
        font-weight: 700;
        font-size: 0.95rem;
        color: var(--textPrimary);
    }

    .expensePart {
        font-size: 0.8rem;
        color: var(--textSecondary);
    }
}

.expenseSum {
    display: flex;
    gap: var(--xs);
    align-items: center;

    .expenseSumValue {
        color: var(--expenseText);
        font-weight: 700;
        font-size: 1.1rem;
    }

}